.toppage-header
  .toppage-header-top
    .toppage-header-top__main
      %h1.toppage-header-top__icon
        = link_to image_tag "logo.png"
      .toppage-header-top__header-search
        = form_with url: root_path, local: true do |f|
          = f.text_field :name, placeholder: "キーワードから探す",class: 'searchInput .searchBox--input'
          %button{type: "submit", class:'btn'}
            .searchBox__icon
              = image_tag "icon-search 1.png"
          %input{name: "authenticity_token", type: "hidden", value: ""}/
          
    .header-footer
      %ul.header-footer__menu
        %li.header-footer__menu-list.header-footer__menu-list--first
          = link_to 'カテゴリー', '#' , class: "a catBtn"
          .pull-down.displayNone
            %ul.pull-down-menu
              %li.pull-down-menu__category--item
                = link_to 'レディース', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'メンズ', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'ベビー・キッズ', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'インテリア・住まい・小物', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to '本・音楽・ゲーム', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'おもちゃ・ホビー・グッズ', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'コスメ・香水・美容', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to '家電・スマホ・カメラ', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'スポーツ・レジャー', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'ハンドメイド', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'チケット', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to '自動車・オートバイ', '#' , class: "a "
              %li.pull-down-menu__category--item
                = link_to 'その他', '#' , class: "a "
        %li.header-footer__menu-list
          = link_to 'ブランド', '#' , class: "a brandBtn"
          %ul.brandsPulldown.displayNone
      %ul.header-top__footer-contents
        %li.header-top__footer-contents--user-login-btn
          = link_to 'ログアウト', '#' , class: "a "
        %li.header-top__footer-contents--new-register-btn
          = link_to 'マイページ', '#' , class: "a "

-# --------------------------------------
.mypage-wrapper
  %nav.brand-wrapper
    %ul
      %li 
        = link_to "#" do
          FURIMA
      %li
        = icon('fa', 'angle-right')
      %li 
        %p
          マイページ
-# --------------------------------------
.mypage
  .mymain
    .myleft
      %ul.nav-top
        %li
          = link_to '#' do
            マイページ
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            評価一覧
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            出品する
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            出品した商品-出品中
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            出品した商品-取引中
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            出品した商品-売却済
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            購入した商品-取引中
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            購入した商品-過去の取引
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            ポイント
            = icon('fa', 'angle-right')
      %h3 設定
      %ul.nav-bottom
        %li
          = link_to '#' do
            本人情報
            = icon('fa', 'angle-right')
        %li
          = link_to '#' do
            クレジットカード登録
            = icon('fa', 'angle-right')

    .myright
      %p プロフィール
      .right-top
        .right-top__bg-mask
          .right-top__bg-mask--avatar
          .right-top__bg-mask--nickname
            %p ニックネーム：ログインユーザー名
      .preface
        = form_tag "#" do
          %textarea
            前書き・自己紹介等
            
      .change-btn
        = button_tag "", type: 'submit' do
          変更する


-# --------------------------------------
.appBanner3
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      =link_to image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', class: 'Btn'
      =link_to image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', class: 'Btn'
-# ----------------------------------
.toppage-footer
  %ul.toppage-footer__contents
    %li.toppage-footer__content
      %h2.toppage-footer__content-title FURIMAについて
      %ul
        %li= link_to '会社概要（運営会社）', '#' , class: "a "
        %li= link_to 'プライバシーポリシー', '#' , class: "a "
        %li= link_to 'FURIMA利用規約', '#' , class: "a "
        %li= link_to 'ポイントに関する特約', '#' , class: "a "
    %li.toppage-footer__content
      %h2.toppage-footer__content-title FURIMAを見る 
      %ul
        %li= link_to 'カテゴリー一覧', '#' , class: "a "
        %li= link_to 'ブランド一覧', '#' , class: "a "
    %li.toppage-footer__content
      %h2.toppage-footer__content-title ヘルプ＆ガイド
      %ul
        %li= link_to 'FURIMAガイド', '#' , class: "a "
        %li= link_to 'FURIMAロゴ利用ガイドライン', '#' , class: "a "
        %li= link_to 'お知らせ', '#' , class: "a "
  .toppage-footer__logo
    = link_to image_tag 'logo-white.png', class: 'toppage-footer__logo'
  %p © FURIMA
= link_to do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    = image_tag 'icon_camera.png', class: 'img purchaseBtn__icon'