.myleft
  %ul.nav-top
    %li
      = link_to 'マイページ', user_path(current_user)
      = icon('fa', 'angle-right')
    %li
      = link_to '評価一覧'
      = icon('fa', 'angle-right')
    %li
      = link_to '出品する'
      = icon('fa', 'angle-right')
    %li
      = link_to '出品した商品-出品中'
      = icon('fa', 'angle-right')
    %li
      = link_to '出品した商品-取引中'
      = icon('fa', 'angle-right')
    %li
      = link_to '出品した商品-売却済'
      = icon('fa', 'angle-right')
    %li
      = link_to '購入した商品-取引中'
      = icon('fa', 'angle-right')
    %li
      = link_to '購入した商品-過去の取引'
      = icon('fa', 'angle-right')
    %li
      = link_to 'ポイント'
      = icon('fa', 'angle-right')
  %h3 設定
  %ul.nav-bottom
    %li
      = link_to '本人情報'
      = icon('fa', 'angle-right')
    %li
      = link_to 'クレジットカード情報', cards_path
      = icon('fa', 'angle-right')