.toppage-header
  = render partial: 'tops/toppage-header'
-# --------------------------------------
.mypage-wrapper
  %nav.brand-wrapper
    %ul
      %li 
        = link_to "#" do
          FURIMA
      %li
        = icon('fa', 'angle-right')
      %li 
        %p
          マイページ
-# --------------------------------------
.mypage
  .mymain
    = render partial: 'mypage-side'

    .myright
      %p プロフィール
      .right-top
        .right-top__bg-mask
          .right-top__bg-mask--avatar
          .right-top__bg-mask--nickname
            %p
              #{@user.nickname}
      .preface
        = form_tag "#" do
          %textarea
            前書き・自己紹介等
            
      .change-btn
        = button_tag "", type: 'submit' do
          変更する


-# --------------------------------------
= render partial: 'tops/toppage-footer'