.edit
  .sell-wrapper
    .header
      = link_to root_path do
        = image_tag "material/logo/logo.png", size: "200x58"
    .main
      .content 
        = form_for @item do |f|
          .box
            = render partial: 'layouts/error', locals: { item: @item }
            .box__title
              %label 出品画像
              %span.box__title--required 必須
            %p.box__file-info 最大10枚までアップロードできます
            .box__file
              .box__file__img#img-box
                - if @item.persisted?
                  - @item.item_images.each_with_index do |image, index|
                    .box__file__img__wrapper{data:{index: index}}
                      = image_tag "#{image.src}", data:{index: index} 
                      .box__file__img__wrapper__delete{data:{index: index}}
                        削除する
              .box__file__field#file-box{data:{edit: "edit"}}
                = f.fields_for :item_images do |i|
                  - if @item.persisted?
                    = i.file_field :src, class: "box__file__field--file", id: "item_item_images_attributes_#{i.index}_src", data: {index: i.index}, name: "item[item_images_attributes][#{i.index}][src]", style: "display:none"
                    = i.check_box :_destroy, data:{ index: i.index }, style: "display:none", class: "box__file__field--checkbox"
                = icon('fa', 'camera')


                
                %p 
                  クリックしてファイルをアップロード
          .box
            .box__title
              %label 商品名
              %span.box__title--required 必須
            = f.text_field :name, class: "box__input", id: "item-name-field", placeholder: "40文字まで"
            .box__count
              %span.box__count--num#name-num 
            .box__margin
            .box__title
              %label 商品の説明
              %span.box__title--required 必須
            = f.text_area :item_description, class: "box__input", id: "item-description-field", placeholder: "商品の説明（必須 1,000文字以内）#{"\n"}（色、素材、重さ、定価、注意点など）#{"\n\n"}例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
            .box__count
              %span.box__count--num#description-num 
          .box
            .box__info 
              %label 商品の詳細

            .box__title
              %label カテゴリー
              %span.box__title--required 必須
            .form__group
              = f.select :category, options_for_select(Category.where(ancestry: nil).map{|c|[c[:name], c[:id],{}]}, @item.category.parent.parent.id), {}, {class: 'box__input', id: 'parent_category'}
              = f.select :category, options_for_select(@item.category.parent.parent.children.map{|c|[c[:name], c[:id],{}]}, @item.category.parent.id), {}, {class: 'box__input', id: 'child_category'}
              = f.select :category_id, options_for_select(@item.category.parent.children.map{|c|[c[:name], c[:id],{}]}, @item.category.id), {}, {class: 'box__input', id: 'grandchild_category'}


            .box__margin
            .box__title
              %label ブランド
              %span.box__title--optional 任意
            = f.select :brand_id, options_for_select(@brands.map{|c|[c[:name], c[:id]]}), {prompt: '選択してください'}, {class: "box__input"}
            .box__margin
            .box__title
              %label 商品のサイズ
              %span.box__title--required 必須
            = f.select :size, options_for_select(ItemSize.all.map{|c|[c[:name], c[:name]]},@item.size), {prompt: '選択してください'}, {class: "box__input"}
            .box__margin
            .box__title
              %label 商品の状態
              %span.box__title--required 必須
            = f.select :item_condition, options_for_select(Condition.all.map{|c|[c[:name], c[:name]]},@item.item_condition), {prompt: '選択してください'}, {class: "box__input"}
          .box
            .box__info 
              %label 配送について
              %a.box__info--link ?
            .box__title
              %label 配送の方法
              %span.box__title--required 必須
            = f.select :postage_type, options_for_select(PostageTy.all.map{|c|[c[:name], c[:name]]}, @item.postage_type), {prompt: '選択してください'}, {class: "box__input"}
            .box__margin
            .box__title
              %label 配送料の負担
              %span.box__title--required 必須
            = f.select :postage_payer, options_for_select(PostagePay.all.map{|c|[c[:name], c[:name]]},@item.postage_type), {prompt: '選択してください'}, {class: "box__input"}
            .box__margin
            .box__title
              %label 発送元の地域
              %span.box__title--required 必須
            = f.select :prefecture_code, options_for_select(Prefecture.all.map{|c|[c[:name], c[:name]]},@item.prefecture_code), {prompt: '選択してください'}, {class: "box__input"}
            .box__margin
            .box__title
              %label 発送までの日数
              %span.box__title--required 必須
            = f.select :estimated_shipping_date, options_for_select(ShippingDate.all.map{|c|[c[:name], c[:name]]},@item.estimated_shipping_date), {prompt: '選択してください'}, {class: "box__input", placeholder: "選択してください"}
          .box#price-box
            .box__info 
              %label 価格（¥300〜9,999,999）
              %a.box__info--link ?
            .flex-box
              .box__title
                %label 販売価格
                %span.box__title--required 必須
              .box__unit ￥
              = f.number_field :price, class: "box__input input-price", id: "price-box__price", placeholder: "0", min: 300, max: 9999999
            .box__margin
            .box__sell-info
              .box__sell-info--title 販売手数料（10%）
              .box__sell-info--price#price-box__commission －
            .box__sell-info#sell-profit-box
              .box__sell-info--title 販売利益
              .box__sell-info--price#price-box__profit#sell-profit －
            .box__btn-wrapper
              = f.submit "変更する", class: "box__btn-wrapper__submit btn", id: "edit_submit_button"
              = link_to item_path(@item.id), class:"box__btn-wrapper__back btn" do
                戻る
            %p.box__attention
              禁止されている
              = link_to "行為" 
              および
              = link_to "出品物" 
              を必ずご確認ください。
              = link_to "偽ブランド品" 
              や
              = link_to "盗品物" 
              などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
              = link_to "加盟店規約" 
              に同意したことになります。
              
    .footer
      %ul 
        %li
          = link_to "プライバシーポリシー" 
        %li
          = link_to "メルカリ利用規約" 
        %li
          = link_to "特定商取引に関する表記" 
      = link_to "#", class: "footer--logo" do
        = image_tag "material/logo/logo-gray.png", size: "150x44"
      %p &copy; FRIMA, Inc.
            

