.sell-wrapper
  .header
    = link_to "#" do
      = image_tag "material/logo/logo.png", size: "200x58"
  .main
    .content 
      = form_for @item do |f|
        .box
          .box__title
            %label 出品画像
            %span 必須
          %p.box__info 最大10枚までアップロードできます
          .box__file 
            = icon('fa', 'camera')
            %p 
              ドラッグアンドドロップ 
              %br
              またはクリックしてファイルをアップロード
        .box
          .box__title
            %label 商品名
            %span 必須
            = f.text_field method, {}

          .box__title
            %label 商品の説明
            %span 必須

    
  .footer
