= render partial: 'tops/toppage-header'
.show-wrapper
  %nav.brand-wrapper
    %ul
      %li 
        = link_to "#" do
          FURIMA
      %li
        = icon('fa', 'angle-right')
      %li 
        = link_to "#" do
          メンズ
      %li
        = icon('fa', 'angle-right')
      %li 
        = link_to "#" do
          ジャケット/アウター
      %li
        = icon('fa', 'angle-right')
      %li 
        = link_to "#" do
          ハニカムジャケット
      %li
        = icon('fa', 'angle-right')
      %li 
        %p
          ダンディジャケット
  .main
    .main__content
      .main__content__main
        .main__content__main__item-box
          %h2.main__content__main__item-box__name
            ダンディジャケット
          .main__content__main__item-box__image
            %ul.main__content__main__item-box__image__images
              %li.main__content__main__item-box__image__images__image
                = image_tag "/hoge/product1-1.jpg"
                %ul
                  %li
                    = image_tag "/hoge/product1-2.jpg"
                  %li
                    = image_tag "/hoge/product1-3.jpg"
                  %li
                    = image_tag "/hoge/product1-4.jpg"
          .main__content__main__item-box__price
            %span.main__content__main__item-box__price-price
              ¥20000
            .main__content__main__item-box__price-detail
              %span
                (税込)
              %span
                送料込み
          .main__content__main__item-box__detail
            ダンディジャケット
          .main__content__main__item-box__table
            %table 
              %tr
                %th 出品者
                %td Hoge
              %tr
                %th カテゴリー
                %td 
                  = link_to "#" do 
                    メンズ 
                    %br
                  = link_to "#" do
                    ジャケット/アウター
                    %br
                  = link_to "#" do
                    ハニカムジャケット
              %tr
                %th ブランド
                %td 
              %tr
                %th 商品のサイズ
                %td 
              %tr
                %th 商品の状態
                %td 新品/未使用
              %tr
                %th 配送料の負担
                %td 着払い（購入者負担）
              %tr
                %th 発送元の地域
                %td  
                  = link_to "#" do
                    青森県
              %tr
                %th 発送日の目安
                %td 1-2日で発送
          .main__content__main__item-box__option
            %ul.main__content__main__item-box__option__like
              %li.main__content__main__item-box__option__like__btn
                = icon('fa', 'star')
                お気に入り 0
            %ul.main__content__main__item-box__option__optional
              %li.main__content__main__item-box__option__optional__btn
                = link_to "#" do
                  = icon('fa', 'flag')
                  不適切な商品の通報
        .main__content__main__comment-box
          %ul.main__content__main__comment-box__contents
          = form_tag "#" do
            %textarea
            %p
              相手のことを考え丁寧なコメントを心がけましょう。 
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = button_tag "", type: 'submit' do
              = icon('fa', 'comment')
              コメントする
      %ul.main__content__links
        %li
          = link_to "#" do
            = icon('fa', 'angle-left') 
            前の商品
        %li
          = link_to "#" do
            = icon('fa', 'angle-right')
            後ろの商品
      .main__content__read-items
        = link_to "#" do
          メンズをもっと見る
= render partial: 'tops/toppage-footer'