= render partial: 'tops/toppage-header'
.show-wrapper
  %nav.brand-wrapper
    %ul
      %li 
        = link_to "#" do
          FURIMA
      %li
        = icon('fa', 'angle-right')
      %li 
        = link_to "#" do
          = @item.category.parent.parent.name
      %li
        = icon('fa', 'angle-right')
      %li 
        = link_to "#" do
          = @item.category.parent.name
      %li
        = icon('fa', 'angle-right')
      %li 
        = link_to "#" do
          = @item.category.name
      %li
        = icon('fa', 'angle-right')
      %li 
        %p
          = @item.name
  .main
    .main__content
      .main__content__main
        .main__content__main__item-box
          %h2.main__content__main__item-box__name
            = @item.name
          .main__content__main__item-box__image
            %ul.main__content__main__item-box__image__images
              %li.main__content__main__item-box__image__images__image 
                = image_tag "#{@item.item_images[0].src}",size: "250x250"
                %ul
                  - @item.item_images.each do |item_image|
                    %li
                      = image_tag "#{item_image.src}",size: "70x70"
                   
          .main__content__main__item-box__price
            %span.main__content__main__item-box__price-price
              ¥
              = @item.price
            .main__content__main__item-box__price-detail
              %span
                (税込)
              %span
                送料込み
          .main__content__main__item-box__detail
            = @item.name
          .main__content__main__item-box__table
            %table 
              %tr
                %th 出品者
                %td= @item.user.nickname
              %tr
                %th カテゴリー
                %td 
                  = link_to "#" do
                    = @item.category.parent.parent.name
                    %br
                  = link_to "#" do
                    = @item.category.parent.name
                    %br
                  = link_to "#" do
                    = @item.category.name
              %tr
                %th ブランド
                %td= @item.brand.name if @item.brand
              %tr
                %th 商品のサイズ
                %td= @item.size
              %tr
                %th 商品の状態
                %td= @item.item_condition 
              %tr
                %th 配送料の負担
                %td= @item.postage_payer
              %tr
                %th 発送元の地域
                %td  
                  = link_to "#" do
                    = @item.prefecture_code
              %tr
                %th 発送日の目安
                %td= @item.estimated_shipping_date
          .main__content__main__item-box__1
            - if user_signed_in? && current_user.id == @item.user_id
              = link_to '編集', edit_item_path(@item.id), class: 'button'
              = link_to "削除", item_path(@item.id), method: :delete, data: { confirm: "本当に削除しますか？" } , class: 'button'
            - else 
              = link_to '購入画面に進む', edit_item_path(@item.iid), class: 'bttn'
     
          .main__content__main__item-box__option
            %ul.main__content__main__item-box__option__like
              %li.main__content__main__item-box__option__like__btn
                = icon('fa', 'star')
                お気に入り 0
            %ul.main__content__main__item-box__option__optional
              %li.main__content__main__item-box__option__optional__btn
                = link_to "#" do
                  = icon('fa', 'flag')
                  不適切な商品の通報
        .main__content__main__comment-box
          %ul.main__content__main__comment-box__contents
            %li.main__content__main__comment-box__contents__content
              .main__content__main__comment-box__contents__content--name
                = link_to '#' do
                  たけいし
              .main__content__main__comment-box__contents__content--comment
                こんにちは
            %li.main__content__main__comment-box__contents__content
              .main__content__main__comment-box__contents__content--name
                たけいし
              .main__content__main__comment-box__contents__content--comment
                こんにちは
            %li.main__content__main__comment-box__contents__content
              .main__content__main__comment-box__contents__content--name
                たけいし
              .main__content__main__comment-box__contents__content--comment
                こんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちは
          = form_for @comment do |f|
            = f.text_area :message
            %p
              相手のことを考え丁寧なコメントを心がけましょう。 
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = button_tag "", type: 'submit' do
              = icon('fa', 'comment')
              コメントする
      %ul.main__content__links
        %li
          = link_to "#" do
            = icon('fa', 'angle-left') 
            前の商品
        %li
          = link_to "#" do
            = icon('fa', 'angle-right')
            後ろの商品
      .main__content__read-items
        = link_to "#" do
          = @item.category.parent.parent.name
= render partial: 'tops/toppage-footer'